@import "tailwindcss";

:root {
  --carinho-light: #e7dae7;
  --carinho-base: #b4a3b5;
  --carinho-dark: #6a616b;

  --abraco-light: #f3e5e8;
  --abraco-base: #eacbd1;
  --abraco-dark: #996670;

  --alegria-light: #ebf3e5;
  --alegria-base: #c0ccb8;
  --alegria-dark: #7e8679;

  --serenidade-light: #dfe6f0;
  --serenidade-base: #beccde;
  --serenidade-dark: #6c7e93;
}

@theme {
  --color-carinho-light: var(--carinho-light);
  --color-carinho: var(--carinho-base);
  --color-carinho-dark: var(--carinho-dark);

  --color-abraco-light: var(--abraco-light);
  --color-abraco: var(--abraco-base);
  --color-abraco-dark: var(--abraco-dark);

  --color-alegria-light: var(--alegria-light);
  --color-alegria: var(--alegria-base);
  --color-alegria-dark: var(--alegria-dark);

  --color-serenidade-light: var(--serenidade-light);
  --color-serenidade: var(--serenidade-base);
  --color-serenidade-dark: var(--serenidade-dark);
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", "sans-serif";
  font-weight: 300;
}

/* .link {
  @apply px-7 py-4 block rounded-2xl outline-none text-white font-semibold;
} */

.animate-spin-slow {
  animation: animate-spin-slow 20s infinite linear;
}

@keyframes animate-spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
